@mixin phantom-text{
    text-decoration: none;
    color: #ccdbed;
    text-shadow: 0 0 5px #79a2d8;
}
  
@mixin stat-table{
    margin: 0 auto;
}

@mixin stat-tr{
    background-color: #000057;
    @include phantom-text();
}

@mixin stat-telem{
    border: 1px solid #312f30;
    text-align: left;
    //padding: 8px;
}

table.stats {

    @include stat-table();


}

#stb {
    tr{
        @include stat-tr();
    }

    th{
        @include stat-telem();
    }

    td{
        @include stat-telem();
    }

}

html, body {
    width: 100%;
    background-color: #000000
}