<!DOCTYPE HTML>

<html>
    <head>
        <title>FirstStory</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="navbar.css">

    </head>
    <body id="mbody">

    <div id="stats" class="stats">
        <!-- stats go here! -->
    </div>

    <div id="mainbody" class="mainbody">
        <!--Game Events Will Probably go here-->
    </div>

    <script type="text/javascript" src="../fgame.js"></script>
    </body>
</html>